<div class="radio">
  <label> <%= radio_button_tag 'rad', 'rad' %>  <%= f.text_field :content, class: "form-control-inline", placeholder: "Choice Option" %></label>
  <%= link_to_remove_association "Remove", f, wrapper_class: 'radio', class: 'btn btn-default' %>
</div>
