
<div class="checkbox">


    <label>
      <%= check_box_tag class:"checkbox" %> <%= f.text_field :content, placeholder: "Check Option", class: "form-builder-text-input" %>
    </label>



    <%= link_to_remove_association "Remove", f, wrapper_class: 'checkbox', class: 'btn btn-default' %>
  </div>
