<div class="matrix-option">
  <label class="radio-inline"> <input type="radio" >1</label>
  <label class="radio-inline"> <input type="radio" >2</label>
  <label class="radio-inline"> <input type="radio" >3</label>
  <label class="radio-inline"> <input type="radio" > 4</label>
  <%= link_to_remove_association "Remove", f, wrapper_class: 'matrix-option', class: 'btn btn-default' %>
</div>
