<div class="nested-fields">
  <%= f.label "Checklist Question Body" %>
  <%= f.text_field :kind, value: "checklist", class: "hidden"%>
  <%= f.text_field :body, class: "form-control" %>



  <%= link_to_remove_association "Remove Question", f %>
    <hr />
</div>
