<div class="checkbox-container" >
  <hr />
  <div class="panel panel-primary">
    <div class="panel-heading">

      <h3 class="panel-title">
        Checklist Question
        <%= link_to_remove_association  f, wrapper_class: 'checkbox-container' do %>
          <i class="glyphicon glyphicon-trash upper-right-icon pull-right"      aria-hidden="true" >
          </i>
        <% end %>
      </h3>
    </div>
    <div class="panel-body">

      <%#= f.label "Checklist Question Body" %>
      <%= f.text_field :kind, value: "checklist", class: "hidden"%>
      <%= f.text_field :body, class: "form-control", placeholder: "Checklist Question Body Here" %>

      <br />
      <%= link_to_add_association'+ Check Item', f, :options, partial: 'manager_surveys/options/checklist_option_fields',
      'data-association-insertion-method' => 'append', class: "btn btn-primary"
      %>
  

      <br />
    </div>
  </div>

</div>
