// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar-wrapper-right-padding {

  height: 100vh;
  position: fixed;
  right: 0;


}

.navbar {
  margin-bottom: 0
}

.main {
  margin-top: 20px;
}

.action-wrapper {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
