// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-brand span {
  color: white;
}

.sidebar-wrapper {

  height: 100vh;
  position: fixed;
  right: 0;
}
.sidebar-wrapper-left {

  height: 100vh;
  position: fixed;
  left: 0;
}

.navbar {
  margin-bottom: 0;
}

.sidebar-left {
  margin-top: 0px;
}


.main {
  margin-top: 20px;
}

.action-wrapper {

  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
