// Place all the styles related to the manager_surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mc-options {
  padding-top: 10px;
}
.checklist-options {
  padding-top: 10px;
}

.mc-container {
  .radio {
    padding-left: 7%;
  }
  label {
    width: 75%;
  }
}

.checkbox-container {
  .checkbox {
    padding-left: 7%;
  }
  label {
    width: 75%;
  }
}

.matrix-option {
  padding-left: 7% ;
  padding-top: 10px;
  .form-control {
    display: inline;
    width: 60%;
  }
}
