// Place all the styles related to the studies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.check-wrapper-builder {
  display: flex;

}

.company-title {
  vertical-align:super;
  font-size: 2rem;
  color: #2196F3
}

.status-label {
  width: 100%
}

#entry-count-label {
  display: inline-block;
  float: none;
  font-size: 5rem;
  color: #599D97;
}
#last-response-label {
  display: inline-block;
  float: none;
  font-size: 2rem;
  color: #599D97;
}



.vcenter {
  display: flex;
  align-items:center;
}

.info-label {
  color: grey;
  vertical-align: top;
}



span.glyphicon-file {
  display: inline-block;
  font-size: 3rem;
  text-align: center;
  color: #2196F3;
  opacity: 0.5
}
i.panel-icon {
  display: block;
  font-size: 3rem;
  color: white;
  text-align: center;
}

i.question-icon {
  color: black;
}

i.panel-close {

  display: inline-block;
  margin: 0;
}


.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items:center;
}



.panel-yellow {
  background-color: #F0AD4E;

  a {
    color: #F0AD4E;
  }
  span {
    color: white;
  }
}

.panel-red {
  background-color: #D9534F;

  a {
    color: #D9534F;
  }
  span {
    color: white;
  }
}

.panel-footer {
  background-color: white;
}


.panel-number span {
  color: white;
  font-size: 3rem;
  vertical-align: top;
}

div.well {
  margin: 0;
}

a .panel {
  text-decoration: none;
  color:black;
}

.panel-body .btn-group-vertical {
  margin-bottom: 10px;
}

.panel-heading-form {

  height: 55px;
  input {
    // height: 25px;

  }
}
